@using Kafein.Model;

@model List<Urun>

@{
    ViewBag.Title = "Ödeme";
}
<link href="~/css/productcard.css" rel="stylesheet" />


<h1>Ödeme</h1>

<div class="height d-flex justify-content-center align-items-center">

    <h1> Ödemeniz için teşekkür ederiz! Ürünleriniz en kısa sürede ulaştırılacaktır.</h1>

</div>